cond %{READ_RESPONSE_HDR_HOOK} [AND]
cond %{PATH} /\.m3u8/
cond %{STATUS} >199 [AND]
cond %{STATUS} <400
rm-header Pragma
rm-header Expires
set-header Cache-Control "max-age=4, public"
set-header Access-Control-Allow-Origin "*"
set-header Access-Control-Allow-Methods "GET, HEAD, POST, TRACE, OPTIONS"
set-header Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
cond %{READ_RESPONSE_HDR_HOOK} [AND]
cond %{PATH} /\.ts/
cond %{STATUS} >199 [AND]
cond %{STATUS} <400
rm-header Pragma
rm-header Expires
set-header Cache-Control "max-age=132, public"
set-header Access-Control-Allow-Origin "*"
set-header Access-Control-Allow-Methods "GET, HEAD, POST, TRACE, OPTIONS"
set-header Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
cond %{READ_RESPONSE_HDR_HOOK} [AND]
cond %{PATH} /\.mpd/
cond %{STATUS} >199 [AND]
cond %{STATUS} <400
rm-header Pragma
rm-header Expires
set-header Cache-Control "max-age=4, public"
set-header Access-Control-Allow-Origin "*"
set-header Access-Control-Allow-Methods "GET, HEAD, POST, TRACE, OPTIONS"
set-header Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
cond %{READ_RESPONSE_HDR_HOOK} [AND]
cond %{PATH} /\.m4s/
cond %{STATUS} >199 [AND]
cond %{STATUS} <400
rm-header Pragma
rm-header Expires
set-header Cache-Control "max-age=132, public"
set-header Access-Control-Allow-Origin "*"
set-header Access-Control-Allow-Methods "GET, HEAD, POST, TRACE, OPTIONS"
set-header Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
