cond %{READ_RESPONSE_HDR_HOOK} [AND]
cond %{PATH} /\.mpd/
cond %{STATUS} >199 [AND]
cond %{STATUS} <400
set-header Cache-Control "max-age=63072000, public" [L]

cond %{READ_RESPONSE_HDR_HOOK} [AND]
cond %{PATH} /\.m4s/
cond %{STATUS} >199 [AND]
cond %{STATUS} <400
set-header Cache-Control "max-age=63072000, public" [L]

cond %{READ_RESPONSE_HDR_HOOK} [AND]
cond %{PATH} /\.mp4/
cond %{STATUS} >199 [AND]
cond %{STATUS} <400
set-header Cache-Control "max-age=63072000, public" [L]

cond %{READ_RESPONSE_HDR_HOOK} [AND]
cond %{PATH} /\.m3u8/
cond %{STATUS} >199 [AND]
cond %{STATUS} <400
set-header Cache-Control "max-age=63072000, public" [L]

cond %{READ_RESPONSE_HDR_HOOK} [AND]
cond %{PATH} /\.ts/
cond %{STATUS} >199 [AND]
cond %{STATUS} <400
set-header Cache-Control "max-age=63072000, public" [L]
